.console-skin {
	margin: 20px;
	border: 1px solid var(--grey);
	padding: 5px;
	width: min-content;
	background-color: var(--light-grey);
	font-family: monospace;
}

.title {
	margin-bottom: 5px;
}

.console-buffer {
	background-color: var(--carbon);
	color: white;
	overflow-x: hidden;
	overflow-y: scroll;
	white-space: pre-wrap;
	tab-size: 4;
}

.buffer-line, .input, .buffer-line>span {
	overflow-wrap: anywhere;
	line-height: 23px;
}

.buffer-line:empty::before {
	content: " "
}

.input {
	display: inline;
}
